/*Style lightbox para popup,etc*/

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*display*/
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999998;
}

.lightbox .wrapper {
	position: relative;
	z-index: 10;
	float: left;
	box-sizing: border-box;
	padding: 10px;
	opacity: 0;
	overflow-x: hidden;
}

.lightbox a#closelbox {
	text-decoration: none;
	font-size: 38px;
	color: #eee;
	position: absolute;
	z-index: 12;
	top: 1%;
	right: 1%;
}

.lightbox .wrapper > div {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding: 30px;
}

.lightbox .wrapper img {
	max-width: 100%;
}

.lightbox .wrapper > div h2 {
	font-size: 24px;
	font-weight: 600;
	color: #444;
}

.lightbox .wrapper > div p {
	font-size: 18px;
	font-weight: 400;
	color: #444;
}

.lightbox .bdark {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
}

/*querie*/

@media only screen and (min-width: 1000px){
	.lightbox .wrapper {
		max-width: 70%;
		max-height: 95%;
	}
}

@media only screen and (min-width: 765px){
	.lightbox .wrapper {
		max-width: 90%;
		max-height: 95%;
	}
}

@media only screen and (max-width: 765px){
	.lightbox .wrapper {
		max-width: 95%;
		max-height: 100%;
	}
}