/*Media queries*/

/**/
/**/

/*Para desktop*/

/**/
/**/

/*1920*/
@media only screen and (max-width: 1920px){
	div.boxfeet {
		padding: 0;
	}
	div.notfound {
		padding: 0;
	}
	div.formbox {
		padding: 40px;
	}
	div.formbox > div > form > div.formspan span {
		font-size: 18px;
	}
	div.notfound h2 {
		font-size: 48px;
	}
	div.notfound p {
		line-height: 54px;
		font-size: 24px;
	}
	/*container*/
	div.container {width: 80%;margin: 0 10%;}

	/*header box*/
	ul#text-info-box h1 {font-size: 24px;}
	ul#text-info-box p {font-size: 16px;}
	/*btn header*/
	button.button-slider {
		width: 150px;
		font-size: 16px;
	}
	a#logoslider-link {display: block;}

	/*slider*/
	section#slider-box, section#slider-box > div.slider  {
		height: 440px;
	}

	div.titles-box-items {
		width: 70%;
	}

	div.items > div.container {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 40px;
	}

	div.picture-item {
		height: 570px;
		width: 620px;
		margin: 20px;
	}

	div.items > div.container > div.text-item {
		width: 100%;
	}

	div.content-servicos > div.items {
		padding: 100px 60px;
	}

	div.about-items > div {
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}

	input[type=checkbox].blue {visibility: visible;}

	div#grid-exp{
		height: 295px;
	}

	div.button-exp {display: block;}

	div.content-empresa {
		padding-bottom:120px;
		padding-top:120px;
	}

	div.clearbox::after {
		content: '';
		float: left;
		width: 0;
		height: 0;
	}

	footer#block-footer {
		position: relative;
		z-index: 10
	}

	div.grid-footer {
		display: grid;
	}
	li#btn-mobile {display: none;}
	li.nomobile {display: inline-block;}
	header.header-nav {
		justify-content: space-around;
		padding: 10px;
	}
	header.menu-fixo {padding: 0}

	div.text-item > div p {font-size: 16px;}
	div.text-item > div h2 {font-size: 28px;}

	div.content-empresa > div.container > div.titles-box > div p {
		font-size: 16px;
	}

	/*footer*/

	div.formbox {
		display: grid;
	}

	div.formbox > div {
		margin-bottom: 0;
	}

	span.formspan {font-size: 14px;}
	div.formbox h1 {
		font-size: 24px;
	}

	div.head-footer {padding: 60px;}

	div#items-footer {display: grid}

	div#items-footer-items {display: grid}

	div#items-footer > div > div {margin-bottom: 0;}

	div.text-item > div {
		margin-top: 0;
	}
}

/*1600*/
@media only screen and (max-width: 1600px){
	div.container {width: 85%; margin: 0 7.5%;}

	div.titles-box-items {
		width: 70%;
	}

	div.items > div.container {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 40px;
	}

	div.items > div.container > div.text-item {
		width: 100%;
	}

	div.picture-item {
		height: 480px;
		width: 530px;
		margin: 20px;
	}

	div.content-servicos > div.items {
		padding: 80px 40px;
	}

	div.about-items > div {
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}

	div.button-exp {display: block;}

	div.content-empresa {
		padding-bottom:120px;
		padding-top:120px;
	}
}

/*1300*/
@media only screen and (max-width: 1300px){
	/*slider*/
	section#slider-box, section#slider-box > div.slider  {
		height: 340px;
	}

	div.titles-box-items {
		width: 70%;
	}

	div.items > div.container {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 40px;
	}

	div.items > div.container > div.text-item {
		width: 100%;
	}

	div.picture-item {
		height: 330px;
		width: 380px;
		margin: 20px;
	}

	div.content-servicos > div.items {
		padding: 80px 20px;
	}

	div.about-items > div {
		display: block;
	}

	input[type=checkbox].blue {visibility: hidden;}

	div#grid-exp{
		height: auto;
	}

	div.button-exp {display: none;}

	div.content-empresa {
		padding-bottom:120px;
		padding-top:120px;
	}

	div.text-item > div p {font-size: 15px;}
	div.content-empresa > div.container > div.titles-box > div p {font-size: 15px;}

	/*footer*/

	div.formbox {
		display: block;
	}

	div.formbox > div {
		margin-bottom: 60px;
	}
}

/**/
/**/

/*Para tablet, celular*/

/**/
/**/

/*1000*/
@media only screen and (max-width: 1000px){
	div.container {width: 90%;margin: 0 5%;}

	div.titles-box-items {
		width: 100%;
	}

	div.grid-footer {
		display: block;
	}

	div.items > div.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div.picture-item {
		height: 350px;
		width: 400px;
		margin: 40px 0;
	}

	div.items > div.container > div.text-item {
		width: 100%;
	}

	div.text-item > div{
		margin-top: 40px;
	}

	div.content-servicos > div.items {
		padding: 80px 20px;
	}

	div.about-items > div {
		display: block;
	}

	div#grid-exp{
		height: auto;
	}

	div.button-exp {display: none;}

	div.content-empresa {
		padding-bottom:40px;
		padding-top:40px;
	}

	li.nomobile {display: none;}
	li#btn-mobile{display: block;}
	header.header-nav {
		justify-content: space-between;
		padding: 0;
	}
	header.menu-fixo {padding: 10px}
	/*footer*/

	div.head-footer {padding: 20px;}
}

/*800*/
@media only screen and (max-width: 800px){
	div.container {width: 95%;margin:  2.5%;}
	div.formbox {
		padding: 20px;
	}
	/*header box*/
	ul#text-info-box h1 {font-size: 18px;}
	ul#text-info-box p {font-size: 14px;}
	/*btn header*/
	button.button-slider {
		width: 120px;
		font-size: 14px;
	}
	a#logoslider-link {display: none;}

	/*slider*/
	section#slider-box, section#slider-box > div.slider  {
		height: 220px;
	}

	div.titles-box-items {
		width: 95%;
	}

	div.items > div.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div.items > div.container > div.text-item {
		width: 100%;
	}

	div.picture-item {
		height: 350px;
		width: 400px;
	}

	div.content-servicos > div.items {
		padding: 40px 20px;
	}

	div#grid-exp{
		height: auto;
	}

	div.about-items > div {
		display: block;
	}

	div.button-exp {display: none;}

	div.clearbox::after {
		content: '';
		float: left;
		width: 0;
		height: 0;
	}

	footer#block-footer {
		position: relative;
		z-index: 10
	}

	div.grid-footer {
		display: block;
	}

	div.content-empresa > div.container > div.titles-box > div p{
		font-size: 14px;
	}

	div.text-item > div p {font-size: 14px;}

	/*footer*/

	div.formbox h1 {
	    font-size: 24px;
	    line-height: 28px;
	}

	div.formbox > div > form > div.formspan span {
		font-size: 14px;
	}

	div.boxfeet {
		padding: 15px;
	}

	div.notfound {
		padding: 20px;
	}

	div.notfound h2 {
		font-size: 40px;
	}

	div.notfound p {
		line-height: 28px;
		font-size: 18px
	}
}

/*600*/
@media only screen and (max-width: 600px){
	div.container {width: 98%;margin: 0 1%}

	div.head-footer {padding-top: 80px;}

	div.titles-box-items {
		width: 95%;
	}

	div.items > div.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div.picture-item {
		height: 300px;
		width: 350px;
	}

	div.items > div.container > div.text-item {
		width: 100%;
	}

	div.button-exp {display: none;}

	/*footer*/

	span.formspan {font-size: 12px;}

	div#items-footer {display: block;}

	div#items-footer-items {display: block;}

	div#items-footer > div > div:first-child {margin-bottom: 40px;}
}