/*styles básicos*/
*{margin: 0; padding: 0;box-sizing: border-box;outline: none;font-family: 'Open Sans', 'Arial', sans-serif;}
body,html {
	width: 100%;
	height: 100%;
}

a {color: inherit;text-decoration: none;}

body {overflow-x: hidden;}

html,body h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px; 
	color: #888
}
/*estilização completa do site*/
header.header-nav {
	position: fixed;
	z-index: 99999;
	/*style*/
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	/*style*/
	background-color: rgba(255,255,255,.5);
	transition: all .3s ease;
	transform: translate3d(0,0,0);
}

header.menu-fixo {
	background-color: #fff;
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.05);
	height: 60px;
}

header.header-nav a#logotop {
	color: #444; font-weight: 700; font-size: 14px;text-decoration: none;
} 

header.header-nav nav ul li {list-style: none;}

header.header-nav nav ul li a.selected {border-bottom: 4px solid #0065a9;color: #222}

header.header-nav nav ul li a {
	padding: 9px 6px;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	font-weight: 600;
}

/*bars, mobile*/
header.header-nav nav ul li#btn-mobile > a{
	font-size: 20px;
}

div.navdrop-mobile {
	position: absolute;
	right: 0;
	top: 70px;
	display: none;
}

div.navdrop-mobile > ul.menu-mobile > li {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	background: #f9f9f9;
}
div.navdrop-mobile > ul.menu-mobile > li a{
	width: 100%;
	padding: 15px 30px; 
	color: #444;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
	float: left;
}

li.menu-mobile a.selected {background: rgba(0,100,168,0.1);}

header.header-nav nav ul li a:hover {color: #222;transition:  all .3s ease;}

/*slider*/

section#slider-box {
	overflow: hidden;
	background-color: #eee;
}

section#slider-box > div.slider {
	position: fixed;
	top: 0;
	z-index: 10;
	/*style*/
	width: 100%;
}

section#slider-box > div.slider > div.slider-text {
	width: 100%;
	height: 100%;
	/*display*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*imagem*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

section#slider-box > div.slider > div.slider-text  ul {padding-top: 70px;position: relative;z-index: 12}

section#slider-box > div.slider > div.slider-text  ul li {
	list-style: none;
	text-align: left;
}
section#slider-box > div.slider > div.slider-text  ul#text-info-box {
	position: relative;
	z-index: 1;
}
section#slider-box > div.slider > div.slider-text  ul li > blockquote > h1{
	font-weight: 700;
	color: #444;
}

section#slider-box > div.slider > div.slider-text  ul li > blockquote {opacity: 0;}

button.button-slider {
	border: none;
	background-color: rgb(0,100,168);
	color: #fff;
	padding: 10px;
	cursor: pointer;
	transition: all .3s ease;
	opacity: 0;
}

button.button-slider:hover {
	background: #016cb4
}

/*content, block servicos*/

section#block-content {
	margin: 0;
}

section#block-content > div.content-first {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 1500px;
	background-color: #fff;
	padding: 40px;
}

div.content-servicos {
	position: relative;
	z-index: 9999;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 -10px 25px 0 rgba(0,0,0,0.06)
}

div.content-servicos > div.items {
	width: 100%;
	background-color: #f5f5f5;
	/*display*/
	display: flex;
	justify-content: center;	
	opacity: 0;	
}

div.picture-item {
	background-color: #ddd;
	padding: 0;
	opacity: 0;
	float: left;
	/*grid*/
	grid-column: 1/2;
	grid-row: 1;
	/*img*/
	background-size: cover;
	background-position: center;
}

div.items > div.container > div.text-item {
	/*grid*/
	grid-column: 2;
	grid-row: 1;
	display: flex;
	align-self: center;
}

div.text-item > div h2 {
	color: #444;
	font-weight: 600;
}

div.text-item > div p {
	color: #666; 
	line-height: 26px;
	text-align: justify;
	font-weight: 400;
}

.clearfixpic::before {
	content: '';
	display: table;
	width: 25px;
	height: 25px;
	float: left;
}

/*block empresa*/

section#block-empresa {
	float: left;
}
div.content-empresa {
	position: relative;
	float: left;
	z-index: 9999;
	width: 100%;
	height: max-content;
	background: #fff;
}

div.content-empresa > div.container {float: left;}

div.content-empresa > div.container > div.titles-box {
	position: relative;
	width: 100%;
	text-align: center;
	/*display*/
	display: flex;
	justify-content: center;
}

div.content-empresa > div.container > div.titles-box > div h1 {
	font-weight: bold; 
	font-size: 28px;
	color: #222;
	font-weight: 600;
}
div.content-empresa > div.container > div.titles-box > div p {
	font-weight: normal;
	line-height: 26px; 
	color: #444;
	text-align: justify;
	font-weight: 400;
}

/*items*/
div.about-items {
	/*display*/
	display: flex;
	justify-content: center;
	float: left;
	width: 100%;
	/*margin*/
	margin-top: 60px;
}

div.about-items > div {
	justify-content: center;
	align-items: center;
	grid-gap: 20px;
}

div.about-items > div > div.grid-items {
	position: relative;
	width: 100%;
	height: auto;
	background: #f9f9f9;
	padding: 20px; 
	text-align: center; 
	overflow: hidden;
	margin-bottom: 5px;
}

div.grid-items > h1 {
	font-size: 18px;
	font-weight: 600;
	color: #555;
}

div.grid-items > p {
	font-size: 14px;
	line-height: 24px;
	color: #888;
	margin-top: 12px;
	font-weight: 400;
}

/*botao do grid exp*/
.file {
    width: 100%;
    height:49px;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
    margin-bottom: 5px;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
}
.file:hover {
	background: #f4f4f4;
}
.file input {
	cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 2;
    font-size: 100px; /* Aumenta tamanho do campo */
    opacity: 0;
    filter: alpha(opacity=0);
}

input[type=checkbox] {
	position: absolute;
	bottom: 0;
	left: 0;
    outline: none;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    height: 45px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #0064a8;
    transition: all .3s ease;
}
input[type=checkbox]:hover{
	background: #016cb4;
}
input[type=checkbox]::before {
	content: 'Ler mais';
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=checkbox].blue:checked::before {
	content: 'Diminuir';
    background-color: #0f90dc;
}
input[type=checkbox].blue:disabled::before {
	content: 'Ler mais';
}

/*footer*/

footer#block-footer {
	z-index: 99998;
	float: left;
	width: 100%;
	background: #eee;
	overflow-x: hidden;
}

div.box-footer {
	width: 100%;
	height: auto;
	float: left;
	background: #eee;
}

div.box-footer > div.head-footer {
	float: left;
	width: 100%;
	padding-bottom: 140px;
}

div.box-footer > div.head-footer > div.container > div > div h2 {
	font-weight: 400; 
	font-size: 16px;
}
div.box-footer > div.head-footer > div.container > div > div p {
	font-weight: 400; 
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	color: #666;
}

div.box-footer > div.head-footer > div.container > div > div p > i {color: #555}

div.feet-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: transparent;
}

div.boxfeet {
	position: absolute;
	bottom: 0;
	float: left;
	width: 100%;
	height: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.boxfeet > span {
	font-size: 14px;
	font-weight: 400;
	color: #444;
}

div.boxfeet > span > a {
	text-decoration: none;
	color: #888;
	margin: 3px;
	transition: all .3s ease;
}
div.boxfeet > span > a:hover{color: #444}

div.grid-footer {
	float: left;
	grid-template-rows: 1fr;
}

div.stick-green {
	float: left;
	width: 100%;
	height: 6px;
	background: #437a2d;
	margin-bottom: 4px;
}
div.stick-blue {
	float: left;
	width: 100%;
	height: 12px;
	background: #0065a9;
}

/*menu footer*/
ul.footer-menu > li{
	list-style: none;
	padding-bottom: 5px;
	text-align: left;
}
ul.footer-menu > li a {
	text-decoration: none;
	color: #444;
	padding: 12px 0;
	font-size: 14px;
}

/*formulário de contato*/

form.formSendContact {
	display: inline-block;
	width: 100%;
	padding: 0;
}

form.formSendContact input,textarea,select {
	border: none;
	float: left;
	outline: none; 
	resize: none;
	width: 100%;
	background: #fff;
	padding: 15px 8px;
	margin-bottom: 5px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: #444;
	font-size: 15px;
}

form.formSendContact select {
	cursor: pointer;
}

button.sendform {
	border: none;
	outline: none;
	width: 140px;
	padding: 12px 8px;
	background: #0064a8;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: all .3s ease;
}

button.sendform:hover {
	background: #016cb4;
}

form.formSendContact textarea {
	height: 150px;
}

div.formbox {
	background: #f8f8f8;
}

div.formbox h1 {
	font-weight: 600;
	color: #444;
	margin-bottom: 5px;
}

#pop {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #f8f8f8;
}

div.formbox > div > form > .formspan {
    position: relative;
    top: 20px;
    display: none;
}

span#spanmsg {
	position: relative;
	top: 10px;
	padding: 10px;
	display: none;
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	transition: all .3s ease;
}

div.formbox > div > form > .formspan span {
	padding: 10px;
	display: table;
}

span.success {
    color: #204b0f;
    background-color: #b0e89a;
    border: 1px solid #8dcd74;
}

span.default {
	color: #444;
	background-color: #eee;
	border: 1px solid #ddd;
}

span.error {
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
}

/*NOT FOUND*/

div#notfoundpage {
	z-index: 9999;
	position: relative;
	background-color: #fff;
	width: 100%;
	height: auto;
	float: left;
	padding: 80px 0 80px;
	box-shadow: 0 -10px 25px 0 rgba(0,0,0,0.06);

}

div.notfound {
	width: 100%;
	text-align: left;
}

div.notfound button.btndir {
	border: none;
    background-color: rgb(0,100,168);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
    opacity: 0;
}

div.notfound p {
	font-weight: 300;
	color: #666;
}

div.notfound h1 {
	font-size: 180px;
	font-weight: 600;
	color: rgb(0,100,168);
}

div.notfound h2 {
	font-weight: 400;
	color: #888;
	line-height: 48px;
}

div.notfound a {
	color: rgb(0,100,168);
	text-decoration: none;
	font-weight: 400
}

div.img404 {
	width: 100%;
	display: flex;
	justify-content: center;
}

div.notfound a:hover{text-decoration: underline;
}

/*CONFIG*/

ul.ul-list {
	padding-left: 20px;
	font-size: 14px;
	color: #888;
	font-weight: 400;
	line-height: 24px;
	margin-top: 10px;
}

/*FORM LOADING*/

div.formloading {
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999988;
	background-color: rgba(255,255,255,0.6);
}
div.formloading > div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.formloading span {
	position: relative;
	padding: 15px;
}